@import url(https://fonts.googleapis.com/css?family=Forum:400&display=swap);
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: "MintSans";
  src: url("../fonts/MintSansRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: "MintSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.heading {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1111111111;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  color: #5A534B;
}
body._lock {
  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
}

ul, li {
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

input {
  outline: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.logo--header {
  height: 50px;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.btn {
  padding: 15px 50px;
  color: #F6F6F6;
  font-size: 20px;
  line-height: 1.2;
  text-transform: lowercase;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.link-more {
  position: relative;
  font-size: 20px;
  line-height: 1.2;
  text-transform: lowercase;
}
.link-more:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #5A534B;
}

.unvisible {
  position: absolute;
  left: -3000px;
  overflow: hidden;
  width: 0;
  height: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 16px;
}
.header__logo {
  width: 108px;
  height: 64px;
}
.header__svg {
  fill: #AA9DA4;
}

.menu {
  margin-right: -65px;
}
.menu__body {
  margin-top: -5px;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  padding: 130px 50px 70px;
  background-color: rgba(255, 255, 255, 0.99);
  overflow: auto;
  -webkit-transition: right 0.5s ease 0s;
  -o-transition: right 0.5s ease 0s;
  transition: right 0.5s ease 0s;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.menu__body::before {
  content: "";
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 74px;
  background-color: #FFFFFF;
  -webkit-transition: right 0.5s ease 0s;
  -o-transition: right 0.5s ease 0s;
  transition: right 0.5s ease 0s;
  z-index: 2;
}
.menu__body._active {
  right: 0;
}
.menu__body._active::before {
  right: 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: "Forum";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1111111111;
  letter-spacing: 0.03em;
  color: #5A534B;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.menu__item:not(:last-child) {
  margin-bottom: 50px;
}
.menu__item::before {
  position: absolute;
  content: "";
  display: block;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: #5A534B;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.menu__item:last-child a {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 768px) {
  .menu__item {
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 18px;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.menu__icon {
  display: block;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 43px;
  flex: 0 0 43px;
  width: 43px;
  height: 23px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  z-index: 5;
}
.menu__icon span {
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  width: 30px;
  height: 1px;
  background-color: #5A534B;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__icon span:first-child {
  top: 0;
}
.menu__icon span:nth-child(2) {
  right: 8px;
  width: 35px;
}
.menu__icon span:last-child {
  top: auto;
  bottom: 0;
}
.menu__icon._active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.menu__icon._active span:first-child {
  top: calc(50% - 3px);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu__icon._active span:last-child {
  top: calc(50% - 3px);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #5A534B;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.social__item:not(:last-child) {
  margin-right: 30px;
}
.social__icon {
  width: 25px;
  height: 25px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-block {
  position: relative;
  padding-bottom: 38px;
}
.main-block::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100px;
  height: 1px;
  left: 50%;
  background: #5A534B;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.main-block__block {
  position: relative;
}
.main-block__left {
  position: absolute;
  top: 50%;
  left: -40px;
  font-size: 20px;
  line-height: 1.2;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg) translateY(50%);
  -ms-transform: rotate(-180deg) translateY(50%);
  transform: rotate(-180deg) translateY(50%);
}
.main-block__img {
  position: relative;
  margin-bottom: 37px;
}
.main-block__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), color-stop(57.99%, rgba(0, 0, 0, 0.18)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.18) 57.99%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.18) 57.99%, rgba(0, 0, 0, 0) 100%);
}
.main-block__switch {
  position: absolute;
  top: 50%;
  left: 156px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main-block__switch._hide {
  -webkit-animation: hideSwitch 1s 1 ease-in-out;
  animation: hideSwitch 1s 1 ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.main-block__content {
  position: absolute;
  top: 50%;
  left: 50px;
  width: 0;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
}
.main-block__content._active {
  -webkit-animation: showContent 1s 1 0.5s ease-in-out;
  animation: showContent 1s 1 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.main-block__head {
  max-width: 681px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 66px;
  line-height: 1.1060606061;
  color: #FFFFFF;
}
.main-block__btn {
  border: 2px solid #F6F6F6;
}
.main-block__right {
  position: absolute;
  top: 50%;
  right: -40px;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main-block__right::before {
  top: 50%;
  left: -60px;
  width: 120px;
  -webkit-transform: rotate(90deg) translateY(-50%);
  -ms-transform: rotate(90deg) translateY(-50%);
  transform: rotate(90deg) translateY(-50%);
}
.main-block__scroll {
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.switch {
  display: none;
}
.switch-off {
  position: relative;
  font-weight: 700;
  font-size: 55px;
  line-height: 1.2727272727;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.switch-off::after {
  content: "";
  position: absolute;
  top: -50%;
  left: 123px;
  width: 250px;
  height: 100px;
  border-radius: 60px;
  background: #D7D7D7;
}
.switch-off::before {
  content: "";
  position: absolute;
  top: calc(-50% + 3px);
  left: 126px;
  width: 94px;
  height: 94px;
  background: #FFFFFF;
  border-radius: 50%;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  z-index: 1;
}
.switch-on {
  position: relative;
  left: 300px;
  width: 0;
  font-weight: 700;
  font-size: 55px;
  line-height: 1.2727272727;
  color: #FFFFFF;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.switch:checked + .switch-off::before {
  left: 276px;
}
.switch:checked + .switch-off::after {
  background: #4ED164;
}
.switch:checked + .switch-off {
  color: transparent;
}
.switch:checked ~ .switch-on {
  width: auto;
  opacity: 1;
}

.about {
  position: relative;
  padding: 100px 0;
}
.about::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100px;
  height: 1px;
  left: 50%;
  background: #5A534B;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.about__title {
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 822px;
  text-align: center;
}
.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: 50px;
}
.about__head {
  margin-bottom: 20px;
}
.about__text {
  max-width: 500px;
  margin-bottom: 20px;
}
.about__link {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
}
.about__link::before {
  bottom: -5px;
}
.about__btn {
  border: 2px solid #F6F6F6;
  background: #5A534B;
}
.about__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 600px;
}

.advantages {
  position: relative;
  padding-top: 60px;
  padding-bottom: 120px;
}
.advantages::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100px;
  height: 1px;
  left: 50%;
  background: #5A534B;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.advantages__intro {
  margin-bottom: 90px;
}
.advantages__head {
  margin: 0 auto;
  text-align: center;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
  color: #F6F6F6;
}
.advantages__image {
  position: relative;
  height: 500px;
  z-index: -1;
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.advantages__item {
  width: 200px;
}
.advantages__item:not(:last-child) {
  margin-right: 20px;
}
.advantages__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  font-family: "Forum";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1111111111;
}
.advantages__count::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 1px;
  background: #5A534B;
  width: 65%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.advantages__name {
  display: inline-block;
  margin-right: 7px;
}
.footer {
  padding-top: 100px;
  padding-bottom: 75px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__logo {
  height: 64px;
  width: 108px;
}
.footer__svg {
  fill: #5A534B;
}
.footer__btn {
  border: 2px solid #5A534B;
  color: #5A534B;
  -webkit-transform: translateX(41px);
  -ms-transform: translateX(41px);
  transform: translateX(41px);
}

@media (min-width: 992px) {
  .menu__item:hover {
    color: rgba(90, 83, 75, 0.4);
  }
  .menu__item:hover::before {
    width: 100%;
  }
  .menu__icon:hover span:nth-child(2) {
    width: 30px;
    right: 0;
  }
  .social__icon:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-webkit-keyframes showContent {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 100%;
    opacity: 0.3;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
@keyframes showContent {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 100%;
    opacity: 0.3;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
@-webkit-keyframes hideSwitch {
  0% {
    width: 100%;
    opacity: 1;
  }
  50% {
    width: 100%;
    opacity: 0.3;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes hideSwitch {
  0% {
    width: 100%;
    opacity: 1;
  }
  50% {
    width: 100%;
    opacity: 0.3;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */
