@media ( min-width: 992px )
  .menu__item:hover
    // color: rgba($text, 0.4)
  .menu__link:hover,
  .menu__sub-link:hover
    &::before
      width: 100%
  .menu__icon:hover
    span:nth-child(2)
      width: 30px
      right: 0
  .social__icon:hover
    transform: scale(1.2)
    // fill: rgba($text, 0.4)
    // stroke: rgba($text, 0.4)
  .btn:hover
    // padding: 20px 60px
    // border-radius: 15px
    // transform: skewX(-5deg)
